<html>
<head>
	<title>memes</title>
</head>
<body>
<h3 style="color:gray;font-family:'Arial Black', Gadget, sans-serif">CHOOSE YOUR PROFILE PIC</h3>
<form action="/" enctype="multipart/form-data" method="post">
    <input type="file" name="upload" multiple>
    <input type="submit" value="Upload">
</form>

</body>
<style>
body{
	background-color: black;
}
<body>

.image {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-QWP503TBEeC8NvILeEIyE57gjF638z5x_8FTD0Ksoen9Toxx);
  }
</body>
</style>
</html>