
<meta charset="utf-8"/>
<script id="jquery" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="/public/js/search.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="header">
    <div class="search-container2">>
        <input id="searchText2" style="backgroundColor:black;color:white" type="search" name="search">
        <button id="searchButton2" type="submit"><i class="fa fa-search"></i></button>
    </div>
    <ul>
      <li><a id="home">Home</a></li>
      <li><a id="profile">Profile</a></li>
      <li><a id="signOut">Sign Out</a></li>
    </ul>
</div>
<body style="position: relative">
    <h2 style="color:grey;position: relative;left:10px">Welcome to the search page- Here, you can choose and click on which question you want and you'll be redirected to it. </h2>
    <fieldset style="border-color:#333">
        <legend style="color:grey">information</legend>
    <div style="color:#6DCCF2;position: relative;left:10px">You can also search for the left side of a question and only that question will display.</div>
    <div style="color:#6DCCF2;position: relative;left:10px">You can also search with nothing inside the search box to show every question again. </div>
    </fieldset>
    <div style="position:relative;top:30px;height:(100%-30px);color:white">
        <ul id="listQuestions">

        </ul>
    </div>
</body>



<style>
body{
    background-color:black;
    overflow-x:hidden;
}
  .header{
    display: inline-block;
  }
  .header .search-container2 {
  }

  .header input[type=search] {
    background-color: black;
    border: 1px solid #333333;
    border-right: none;
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
  }

  .header .search-container2 button {
    width:60px;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #333333;
    font-size: 17px;
    border: 1px;
    border-color: #333333;
    border-left: none;
    cursor: pointer;
  }

  .header .search-container2 button:hover {
    background: #404040;
  }

  @mediascreen and (max-width: 600px) {
    .header .search-container2 {
      float: left;
    }
    .header input[type=search], .header .search-container2 button {
      display: inline-block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
        height: 100%;
    }
    .header input[type=text] {
      border: 1px solid #232323;
    }
}
    ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    display: inline-block;
    border-right-color: white;

}

li {
    float: left;
    border-right-color: white;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-right-color: white;
}

li a:hover {
    background-color: #222;
}
</style>
